*{margin: 0;padding: 0;}
html,body{height: 100%;width: 100%;}
.content{width: 100%;position: relative;z-index: 1;}
.navbar{margin-bottom: 3px;}
.footer{position:relative;bottom:0;width:100%;background: #3c3c3c;padding-top:5px;color: white;height: 100px;max-height: 25px;text-align: center;overflow: hidden;z-index: 1;}
.footer a{color: white;text-decoration: none;margin-left:1px; margin-right: 1px;}
.footer a:hover a:active {text-decoration: none;color: white;}
